* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  --font-code: monospace;
  display: grid;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
  margin: 0;
  padding: 0;
}

input, textarea {
  font-family: inherit;
}

.toolbar {
  background: #333;
  color: #f8f8f8;
  padding: 0.25rem;
}

#tabBar {
  display: flex;

  .tab {
    background: none;
    border: none;    
    color: inherit;
  }
}

#commandBar {
  display: grid;

  #command {
    border: 1px solid #555;
    font-family: var(--font-code);
    padding: 0.25rem;

    &.error {
      background: pink;
    }
  }
}

#editor {
  border: none;
  font-family: var(--font-code);
  resize: none;
  margin: 0.5rem;
  outline: none;
}

#result {
  border: none;
  display: block;
  height: 100%;
  /* transition: opacity 0.3s; */
  width: 100%;

  &.pending {
    /* opacity: 0.5; */
  }
}
