* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  --background-color: oklch(10% 0 0);
  --code-font-family: Consolas, Monaco, monospace;
  --code-font-size: 13px;
  --text-color: oklch(98% 0 0);
  display: grid;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
  margin: 0;
  padding: 0;
}

input, textarea {
  font-family: inherit;
}

.toolbar {
  background: var(--background-color);
  color: var(--text-color);
}

#recentBar {
  display: grid;
  grid-template-columns: auto 1fr;
  padding-right: 0.5rem; /* Gap before command */

  button {
    align-items: center;
    background: none;
    border: none;
    color: inherit;
    display: grid;
    padding: 0.25rem 0.5rem;

    &:hover {
      background: #444;
    }
  }

  #fileOpen {
    /* HACK: Since white color is baked into SVG, reduce opacity instead */
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }

  #recentButtons {
    display: flex;
    overflow: hidden;

    button {
      white-space: nowrap;

      &:not(:first-child) {
        color: color-mix(in oklch, var(--text-color) 60%, black);
      }

      &:hover {
        color: white;
      }
    }
  }
}

#commandBar {
  display: grid;
  padding: 0.25rem;
  padding-left: 0; /* to align left edge with result pane */

  #command {
    border: 1px solid #555;
    font-family: var(--code-font-family);
    font-size: var(--code-font-size);

    &.error {
      background: pink;
    }
  }
}

#editor {
  background: color-mix(in oklch, var(--background-color) 80%, white);
  border: none;
  color: var(--text-color);
  font-family: var(--code-font-family);
  font-size: var(--code-font-size);
  resize: none;
  outline: none;
  padding: 0.5rem;
}

#resultPane {
  height: 100%;
  position: relative;
  width: 100%;

  #result {
    border: none;
    display: block;
    height: 100%;
    /* transition: opacity 0.3s; */
    width: 100%;
    
    &.pending {
      /* opacity: 0.5; */
    }
  }

  #error {
    background: pink;
    color: black;
    display: none;
    font-family: var(--code-font-family);
    font-size: var(--code-font-size);
    left: 0;
    margin: 0;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
    white-space: pre-wrap;
  }
}