* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  --background-color: oklch(10% 0 0);
  --code-font-family: Consolas, Monaco, monospace;
  --code-font-size: 13px;
  --text-color: oklch(98% 0 0);
  --text-color-faded: color-mix(in oklch, var(--text-color) 70%, black);
  display: grid;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
  margin: 0;
  padding: 0;
}

input, textarea {
  font-family: inherit;
}

.toolbar {
  background: var(--background-color);
  color: var(--text-color);

  button {
    align-items: center;
    background: none;
    border: none;
    color: inherit;
    display: grid;
    font-family: inherit;
    font-size: inherit;

    img {
      -webkit-user-drag: none;
      pointer-events: none;
    }

    &:not(:disabled) {
      &:hover {
        background: #444;
      }

      &:active {
        background: #666;
      }
    }

    &.iconButton {
      /* Since white color is baked into SVG, reduce opacity instead */
      opacity: 0.6;

      &:disabled {
        opacity: 0.3;
      }

      &:hover:not(:disabled) {
        opacity: 1;
      }
    }
  }
}

#recentBar {
  display: grid;
  font-size: 0.8rem;
  grid-template-columns: auto 1fr;
  padding-right: 0.5rem; /* Gap before command */
  user-select: none;

  #recentButtons {
    align-items: center;
    color: var(--text-color-faded);
    display: flex;
    overflow: hidden;

    > * {
      height: 100%;
      padding: 0 0.5rem;
    }

    button {
      white-space: nowrap;

      &:first-child {
        color: var(--text-color);
      }

      &:hover {
        color: white;
      }
    }

    span {
      align-items: center;
      display: grid;
    }
  }
}

#commandBar {
  display: grid;
  font-family: var(--code-font-family);
  font-size: var(--code-font-size);
  grid-template-columns: auto auto 1fr;

  #commandContainer {
    display: grid;
    padding: 0.25rem;

    input {
      --input-background: white;
      border: 1px solid #555;
      font-family: inherit;
      font-size: inherit;
    }

    #command {
      background: var(--input-background);
    
      &.error {
        background: pink;
      }
    }
  }
}

monaco-editor {
  /* Without this we end up with a 1px gap at the bottom */
  height: 100.1%;

  /* Theme integration */
  .monaco-editor .margin {
    background: color-mix(in oklch, var(--background-color) 80%, white) !important;
  }

  .monaco-editor .monaco-editor-background {
    background: color-mix(in oklch, var(--background-color) 80%, white) !important;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}


#resultPane {
  height: 100%;
  position: relative;
  width: 100%;

  &[data-active-frame="frame0"] #frame0,
  &[data-active-frame="frame1"] #frame1 {
    visibility: visible;
  }

  .result {
    border: none;
    display: block;
    height: 100%;
    position: absolute;
    visibility: hidden;
    width: 100%;
  }

  #error {
    background: pink;
    color: black;
    display: none;
    font-family: var(--code-font-family);
    font-size: var(--code-font-size);
    left: 0;
    margin: 0;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
    white-space: pre-wrap;
  }
}