html {
  height: 100%;
}

body {
  display: grid;
  font-family: monospace;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0.5rem;
}

input, textarea {
  font-family: inherit;
}

#editor {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  outline: none;
}
