* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  --code-font-family: Consolas, Monaco, monospace;
  --code-font-size: 13px;
  --text-color: #f8f8f8;
  display: grid;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
  margin: 0;
  padding: 0;
}

input, textarea {
  font-family: inherit;
}

.toolbar {
  background: #222;
  color: var(--text-color);
  padding: 0.25rem;
}

#tabBar {
  display: flex;

  #fileOpen {
    align-items: center;
    background: none;
    border: none;
    display: grid;
    padding: 0 0.25rem;

    &:hover {
      background: #444;
    }
  }

  .tab {
    background: none;
    border: none;    
    color: inherit;
  }
}

#commandBar {
  display: grid;
  padding-left: 0; /* to align left edge with result pane */

  #command {
    border: 1px solid #555;
    font-family: var(--code-font-family);
    font-size: var(--code-font-size);

    &.error {
      background: pink;
    }
  }
}

#editor {
  background: #333;
  border: none;
  color: var(--text-color);
  font-family: var(--code-font-family);
  font-size: var(--code-font-size);
  resize: none;
  outline: none;
  padding: 0.5rem;
}

#resultPane {
  height: 100%;
  position: relative;
  width: 100%;

  #result {
    border: none;
    display: block;
    height: 100%;
    /* transition: opacity 0.3s; */
    width: 100%;
    
    &.pending {
      /* opacity: 0.5; */
    }
  }

  #error {
    background: pink;
    color: black;
    display: none;
    font-family: var(--code-font-family);
    font-size: var(--code-font-size);
    left: 0;
    margin: 0;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
    white-space: pre-wrap;
  }
}