* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  --font-code: Consolas, Monaco, monospace;
  --text-color: #f8f8f8;
  display: grid;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
  margin: 0;
  padding: 0;
}

input, textarea {
  font-family: inherit;
}

.toolbar {
  background: #222;
  color: var(--text-color);
  padding: 0.25rem;
}

#tabBar {
  display: flex;

  #fileOpen {
    align-items: center;
    background: none;
    border: none;
    display: grid;
    padding: 0 0.25rem;

    &:hover {
      background: #444;
    }
  }

  .tab {
    background: none;
    border: none;    
    color: inherit;
  }
}

#commandBar {
  display: grid;
  padding-left: 0; /* to align left edge with result pane */

  #command {
    border: 1px solid #555;
    font-family: var(--font-code);

    &.error {
      background: pink;
    }
  }
}

#editor {
  background: #333;
  border: none;
  font-family: var(--font-code);
  color: var(--text-color);
  resize: none;
  outline: none;
  padding: 0.5rem;
}

#result {
  border: none;
  display: block;
  height: 100%;
  /* transition: opacity 0.3s; */
  width: 100%;

  &.pending {
    /* opacity: 0.5; */
  }
}
