* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  font-family: monospace;
  font-size: 16px;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  margin: 0;
  padding: 0;
}

input, textarea {
  font-family: inherit;
}

#editor {
  border: none;
  resize: none;
  margin: 0.5rem;
  outline: none;
}

#result {
  border: none;
  display: block;
  height: 100%;
  width: 100%;
}
