* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  font-family: monospace;
  font-size: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
  margin: 0;
  padding: 0;
}

input, textarea {
  font-family: inherit;
}

.toolbar {
  background: #333;
  display: grid;
  padding: 0.25rem;
}

#command {
  border: 1px solid #555;
  padding: 0.25rem;
}

#editor {
  border: none;
  resize: none;
  margin: 0.5rem;
  outline: none;
}

#result {
  border: none;
  display: block;
  height: 100%;
  /* transition: opacity 0.3s; */
  width: 100%;

  &.pending {
    /* opacity: 0.5; */
  }
}
